* {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(#7EC7BD, #1F83A2) fixed;
}

h1 {
  margin: 10px;
}

.container {
  margin: 0 auto;
}

.todo_list {
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  max-width: 700px;
  margin: 30px auto 0;
  padding: 15px;
  border-radius: 10px;
}

.todo_title {
  font-size: 2rem;
  text-align: center;
  color: #191D31;
}

.create_new_todo {
  display: flex;
  flex-direction: column;
}

.todo_text {
  margin: 15px auto;
  padding: 1px 20px;
  height: 35px;
  outline: none;
  border: 1px solid #efefef;
  border-radius: 20px;
  background: #f4f4f4;
  color: #171717;
  font-weight: 500;
  font-size: .9rem;
}

.todo_text:focus {
  border: 1px solid #1F83A2;
}

.todo_text::placeholder {
  color: #7a7a7a;
}

.todo_btn {
  margin: 10px auto;
  padding: 0;
  width: 99%;
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background: linear-gradient(150deg, rgba(126, 199, 189, 1) 0%, rgba(31, 131, 162, 1) 100%);
  font-weight: 700;
  font-size: .9rem;
  color: #f1f1f1;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.todo_btn:hover {
  background: linear-gradient(150deg, rgb(106, 179, 169) 0%, rgba(11, 111, 142, 1) 100%);
  color: #c7c7c7;
}

.todo {
  display: none;
  margin: 0;
  padding: 15px 10px;
  min-height: 50px;
  color: #4c5565;
  text-transform: uppercase;
  font-size: .9rem;
}

.todo.todo_active {
  display: block;
}

.todo li {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: #131313;
  text-transform: none;
}

.todo li:not(:last-child) {
  border-bottom: 1px dashed #3a424d;
}

.completed {
  display: none;
  margin: 0;
  padding: 15px 10px;
  min-height: 20px;
}

.completed.completed_active {
  display: block;
  border-top: none;
}

.completed.completed_active_border {
  border-top: 1px solid #000000;
}

.completed li {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: #afafaf;
}

.completed li:not(:last-child) {
  border-bottom: 1px dashed #BAC3CB;
}

input[type=checkbox], label {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: .9rem;
  line-height: 1.8rem;
  word-wrap: break-word;
}

.todo_label {
  max-width: 90%;
}

input[type=text], label {
  margin: 0 auto;
  width: 100%;
}

.btn_close {
  margin-left: auto;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.footer {

}

.todo_controls {

}

.controls_list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.controls_list li {
  font-size: .8rem;
  cursor: pointer;
}

.controls_item {
  font-weight: 500;
  color: #949494;
}

.controls_item.controls_item_active {
  font-weight: 700;
  color: #000000;
}


@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }

  .todo_list {
    margin: 0 auto;
    padding: 15px 5px 5px;
    border-radius: 0;

  }

  .todo_btn {
    font-size: 0.8rem;
  }

  .todo_label {
    max-width: 80%;
  }

  .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .controls_item {
    color: #1c1c1c;
  }

  .controls_item.controls_item_active {
    color: #000000;
  }
}